.productCard{
display: flex;
flex-direction: column;
flex-wrap: nowrap;
width: 600px ;
height:fit-content;
margin-bottom: 20px;
justify-content: center;
align-items: center;
border-bottom: 2px solid grey;

}
.productCard img{
    width: 30%;
    
}
.productCard button{
    width: 180px;
    background-color: grey;
    margin-bottom: 4px;
}

